.card{
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 15%;
    box-shadow: 10px 10px #80f2ff;
    
} 

.card-section{

    display: flex;
    justify-content: space-evenly;
    font-family: sans-serif;
    flex-wrap: wrap;
    gap: 1em;
    
   
}