.wed-card{
    display: flex;
    background-color: white;
    /* border: 1px solid black;
    border-radius: 8px; */
    align-items: center;
    height: 900px; 
    width: 65%;
    flex-direction: column;
    margin: auto;
    background-image: url('1border.png'); 
    background-size: cover; 
    padding-top: 50px;
    
}
.images{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}


.dis1,.dis2,.dis3,.dis4{
    margin-top: 9px;
}

.wed-card .wed h2{
    padding-top: 60px;
}


