*{
    margin: 0;
    padding: 0;
}
nav{
   
    background-color: black;
    

}

nav ul li a {
    color: white;
    display: inline-block ;
    text-decoration: none;
    padding: 25px;
    font-size: 20px;
}

nav ul li a:hover {
    cursor: pointer;
   background-color: rgb(255, 170, 0);
   opacity: 95%;
}



